.book-container {
	background-color: white;
	padding: 2.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	color: black;
}

.subheader {
	background-color: white;
	padding: 0.1%;
	margin-bottom: -2.5%;
	color: black;
}

input[type="text"],
select,
textarea,
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="url"] {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 7px;
	font-size: 16px;
	background-color: white;
	color: black;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background-color: #000000;
	border-radius: 50%;
	padding: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus {
	border-color: #4caf50;
	outline: none;
}

.time-date {
	width: 33%;
}

.form {
	display: flex;
	gap: 5%;
	padding: 5%;
}

.additional-info {
	width: 100%;
}

.name,
.contact {
	display: flex;
	gap: 5%;
}

.service {
	display: flex;
	gap: 5%;
}

.button {
	display: block;
}
