.form-container {
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2.5%;
}

.form-container h1 {
	margin-top: 0px;
}

.form {
	padding: 0;
	text-align: left;
}
