.contact-container {
	background-color: white;
	color: black;
	display: flex;
}

.form-container {
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
}

.form {
	padding-top: 10px;
	text-align: left;
}
