.contact-container {
	background-color: white;
	color: black;
	display: flex;
}

.form-container {
	background-color: white;
	color: black;
}

.form {
	text-align: left;
}
.form-container {
	display: flex;
	justify-content: center;
}
