.sound-container {
	background-color: rgb(236, 236, 236);
	display: flex;
	justify-content: center;
	align-items: center;
}

.sound {
	background-color: rgb(236, 236, 236);
	max-width: 80%;
	color: black;
	text-align: left;
	padding: 5%;
	display: flex;
}

.sound h1,
h2,
h3,
p {
	margin: 0;
}

.sound h2 {
	padding-bottom: 10px;
}

.sound p {
	padding-bottom: 10px;
}

.sound-text {
	width: 50%;
	padding-right: 5%;
}

.sound-image {
	width: 50%;
}

.about-container {
	background: #f9f9f9;
	display: flex;
	justify-content: center;
	padding: 2.5%;
	margin-bottom: -2.5%;
}

.about {
	color: black;
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: top;
}

.about p {
	background: rgb(236, 236, 236);
	border-radius: 25px;
	max-width: 70%;
	padding: 25px;
	/* column-count: 2; */
}

.reviews p {
	background: #f9f9f9;
	color: black;
	padding: 2.5%;
	font-weight: bold;
	font-size: 1.5em;
	/* display: inline: */
	/* text-align: center; */
}

.review-container {
	display: flex;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #f9f9f9;
	color: black;
}

#noise {
	width: 100%;
	border-radius: 25px;
}
