.services {
	background-color: #f9f9f9;
	padding: 2.5%;
	display: flex;
	justify-content: center;
}

.serviceTable {
	max-width: 1280px;
	text-align: left;
	color: black;
	border-collapse: collapse;
	border-spacing: 0;
}

tr {
	border-bottom: 1px solid #ddd;
}

td {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 15px;
}

.service-type,
.service-cost,
.service-duration,
.frequency {
	vertical-align: top;
	min-width: 65px;
}

.description {
	width: 50%;
}

.frequency {
	width: 20%;
}

.diagnostic-container {
	background-color: #f9f9f9;
	padding-bottom: 5%;
}

.diagnostic {
	/* background-color: darkred; */
	justify-content: center;
	display: inline-block;
	background-color: darkred;
	border-radius: 25px;
	/* width: 50%; */
	padding: 1%;
	font-size: 1.3em;
	font-weight: bold;
}

.diagnostic-description {
	max-width: 800px;
	margin: 10px auto;
	/* background-color: grey; */
	border-radius: 7px;
	font-size: 1em;
	font-weight: normal;

	color: white;
}
