

.header {
    /* background-color: #4CAF50; */
    background-image: url('../assets/pexels-daniel-andraski-197681005-13065693.jpg');
    /* filter: blur(8px); */
    background-size: cover;
    background-position: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.header h1 {
    font-size: 36px;
    padding-bottom: 2.5%;
}

.header button {
    background-color: #00cf9f;
    border: none;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.header button:hover {
    background-color: #ddd;
    border-radius: 7px;
	color: black;
}