.header h1 {
    margin-left: 20%;
    margin-right: 20%;
	font-size: 36px;
	padding-bottom: 2.5%;
}

.header button {
	background-color: #00cf9f;
	border: none;
	padding: 20px;
	font-size: 18px;
	font-weight: bold;
}

.header button:hover {
	background-color: #ddd;
	border-radius: 7px;
	color: black;
}
