.review-card {
	padding-bottom: 2.5%;
	background-color: #f9f9f9;
	color: black;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 15%;
}

.review-text {
	font-family: "Newsreader", serif;
	font-style: italic;
	font-size: 1.2em;
}

.reviewer-name {
	font-weight: bold;
}

.star-rating {
	color: orange;
	font-size: 2em;
}

.review-card p {
	font-size: 1em;
}
